{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h2 class="d-inline-block" style="text-align: center; margin-bottom: 20px">Сотрудники</h2>
        <div class="d-inline-block float-right" style="margin-left: 20px">
            <button id="sortAsc" class="btn btn-primary"
                    style="margin-left: 10px; margin-bottom: 10px;">
                а-я
            </button>
            <button id="sortDesc" class="btn btn-primary"
                    style="margin-left: 10px; margin-bottom: 10px;">
                я-а
            </button>
        </div>
        <table id="employeeTable" class="table table-bordered table-hover" style="margin: 0">
            <thead>
            <tr style="text-align: center">
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Номер телефона</th>
                <th>Email</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>

            <tbody>
            {% for employee in employees %}
                <tr style="text-align: center">
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.middle_name }}</td>
                    <td>{{ employee.phone_number }}</td>
                    <td>{{ employee.email }}</td>
                    <td>
                        <a type="button" data-toggle="modal" data-target="#editModal{{ employee.employee_id }}"><i
                                class="fas fa-edit"
                                style="color: black"></i></a>
                    </td>
                    <td>
                        <a type="button" data-toggle="modal" data-target="#deleteModal{{ employee.employee_id }}"><i
                                class="fas fa-trash"
                                style="color: black"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
           style="margin-top: 20px; background: #163952; border: none; border-radius: 80px; width: 220px">
            Добавить запись
        </a>

        <button onclick="generatePDF()" type="button" class="btn btn-primary"
                style="margin-top: 20px; margin-left: 10px; background: #163952; border: none; border-radius: 80px; width: 220px">
            Экспортировать в PDF
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление записи</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add_employee' %}">
                        {% csrf_token %}
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_username">Имя пользователя:</label>
                            <input type="text" class="form-control" id="id_username" name="username"
                                   placeholder="Введите имя пользователя" pattern=".{2,20}" required
                                   title="Логин должен содержать от 2 до 20 символов">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_password">Пароль:</label>
                            <input type="password" class="form-control" id="id_password" name="password"
                                   placeholder="Введите пароль" pattern=".{6,30}" required
                                   title="Минимальная длина пароля 6 символов">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_first_name">Имя:</label>
                            <input type="text" class="form-control" id="id_first_name" name="first_name"
                                   placeholder="Введите имя" pattern=".{2,50}" required
                                   title="Поле обязательно для заполнения">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_last_name">Фамилия:</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name"
                                   placeholder="Введите фамилию" pattern=".{2,50}" required
                                   title="Поле обязательно для заполнения">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_middle_name">Отчество:</label>
                            <input type="text" class="form-control" id="id_middle_name" name="middle_name"
                                   placeholder="Введите отчество (необязательно)" pattern=".{0,50}"
                                   title="Отчество может содержать до 50 символов">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_phone_number">Номер телефона:</label>
                            <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                                   placeholder="Введите номер телефона (необязательно)" pattern="[0-9]{11}"
                                   title="Введите 11 цифр номера телефона">
                        </div>
                        <div class="form-group" style="margin-bottom: 10px">
                            <label for="id_email">Email:</label>
                            <input type="email" class="form-control" id="id_email" name="email"
                                   placeholder="Введите email (необязательно)">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for employee in employees %}
        <div class="modal fade" id="deleteModal{{ employee.employee_id }}" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить сотрудника "{{ employee.first_name }} {{ employee.last_name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <form method="post" action="{% url 'delete_employee' employee.employee_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for employee in employees %}
        <div class="modal fade" id="editModal{{ employee.employee_id }}" tabindex="-1" role="dialog"
             aria-labelledby="editModalLabel{{ employee.employee_id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ employee.employee_id }}">Редактирование записи</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'edit_employee' employee.employee_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="edit_first_name">Имя:</label>
                                <input type="text" class="form-control" id="edit_first_name" name="first_name"
                                       value="{{ employee.first_name }}">
                            </div>
                            <div class="form-group">
                                <label for="edit_last_name">Фамилия:</label>
                                <input type="text" class="form-control" id="edit_last_name" name="last_name"
                                       value="{{ employee.last_name }}">
                            </div>
                            <div class="form-group">
                                <label for="edit_middle_name">Отчество:</label>
                                <input type="text" class="form-control" id="edit_middle_name" name="middle_name"
                                       value="{{ employee.middle_name }}">
                            </div>
                            <div class="form-group">
                                <label for="edit_phone_number">Номер телефона:</label>
                                <input type="text" class="form-control" id="edit_phone_number" name="phone_number"
                                       value="{{ employee.phone_number }}">
                            </div>
                            <div class="form-group">
                                <label for="edit_email">Email:</label>
                                <input type="email" class="form-control" id="edit_email" name="email"
                                       value="{{ employee.email }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        function generatePDF() {
            const element = document.getElementById('employeeTable');
            html2pdf(element, {
                filename: 'employee.pdf',
                html2canvas: {dpi: 192, letterRendering: true}
            });
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var sortAscButton = document.getElementById("sortAsc");
            var sortDescButton = document.getElementById("sortDesc");

            sortAscButton.addEventListener("click", function () {
                sortTable(true);
            });

            sortDescButton.addEventListener("click", function () {
                sortTable(false);
            });

            function sortTable(asc) {
                var tbody = document.querySelector("#employeeTable tbody");
                var rows = Array.from(tbody.querySelectorAll("tr"));

                rows.sort(function (a, b) {
                    var nameA = a.cells[0].textContent.trim().toLowerCase();
                    var nameB = b.cells[0].textContent.trim().toLowerCase();

                    if (asc) {
                        return nameA.localeCompare(nameB);
                    } else {
                        return nameB.localeCompare(nameA);
                    }
                });

                rows.forEach(function (row) {
                    tbody.appendChild(row);
                });
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

{% endblock content %}


