{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h2 class="d-inline-block" style="text-align: center; margin-bottom: 20px">Учебные группы</h2>
        <table id="studentTable" class="table table-bordered table-hover" style="margin: 0">
            <thead>
            <tr style="text-align: center">
                <th>Номер группы</th>
                <th>Специальность</th>
                <th>Курс</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr style="text-align: center">
                    <td>{{ group.group_number }}</td>
                    <td>{{ group.specialization }}</td>
                    <td>{{ group.course }}</td>
                    <td>
                        <a type="button" data-toggle="modal" data-target="#editModal{{ group.group_id }}"><i
                                class="fas fa-edit"
                                style="color: black"></i></a>
                    </td>
                    <td>
                        <a type="button" data-toggle="modal" data-target="#deleteModal{{ group.group_id }}"><i
                                class="fas fa-trash"
                                style="color: black"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGroupModal"
           style="margin-top: 20px; background: #163952; border: none; border-radius: 80px; width: 220px">
            Добавить запись
        </a>
    </div>

    <div class="modal" id="addGroupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Создание группы</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add_group' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="group_number">Номер группы:</label>
                            <input type="text" class="form-control" id="group_number" name="group_number"
                                   pattern="[А-Яа-яЁё]-[0-9]-[0-9]"
                                   title="Введите букву, за которой следует две цифры от 0 до 9, разделённые дефисами"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="specialization">Специальность:</label>
                            <select class="form-control" id="specialization" name="specialization" required>
                                {% for specialization in specializations %}
                                    <option value="{{ specialization.pk }}">{{ specialization.specialization_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="course">Курс:</label>
                            <select class="form-control" id="course" name="course" required>
                                {% for course in courses %}
                                    <option value="{{ course.pk }}">{{ course.course_number }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for group in groups %}
        <div class="modal fade" id="deleteModal{{ group.group_id }}" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить "{{ group.group_number }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <form method="post" action="{% url 'delete_group' group.group_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for group in groups %}
        <div class="modal fade" id="editModal{{ group.group_id }}" tabindex="-1" role="dialog"
             aria-labelledby="editModalLabel{{ group.group_id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ group.group_id }}">Редактирование записи</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'edit_group' group.group_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="edit_group_number">Номер группы:</label>
                                <input type="text" class="form-control" id="edit_group_number" name="group_number"
                                       pattern="[А-Яа-яЁё]-[0-9]-[0-9]"
                                       title="Введите букву, за которой следует две цифры от 0 до 9, разделённые дефисами"
                                       value="{{ group.group_number }}">
                            </div>
                            <div class="form-group">
                                <label for="edit_specialization">Специализация:</label>
                                <select class="form-control" id="edit_specialization" name="specialization"
                                        required>
                                    {% for specialization in specializations %}
                                        <option value="{{ specialization.pk }}"
                                                {% if specialization.pk == group.specialization.pk %}
                                                selected {% endif %}>{{ specialization.specialization_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_course">Курс:</label>
                                <select class="form-control" id="edit_course" name="course" required>
                                    {% for course in courses %}
                                        <option value="{{ course.pk }}" {% if course.pk == group.course.pk %}
                                                selected {% endif %}>{{ course.course_number }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
